* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    /*cor do fundo*/
    width: 100vw;
    /*Largura*/
    height: 100vh;
    /*Altura*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.nato {
    position: relative;
    top: -18px;
    text-align: center;
    height: 100px;
    transform: scale(0.7);
}

.caixa-imagem {
    position: relative;

}

.insta-celular {
    width: 450px;
}

.imagem-insta {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
}

.face-logo {
    height: 25px;
    position: absolute;
    left: 72px;
    margin-top: -42px;
}

.imagem-google {
    height: 40px;
    margin-top: 20px;
    margin-right: 15px;

}

.imagem-ios {
    height: 40px;
    margin-left: 143px;
    transform: translateY(-44px);
}

.caixa-form {
    width: 350px;
    height: 450px;
    position: relative;
    top: -90px;
    border: 1px solid #dbdbdb;
    padding: 50px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

input {
    height: 36px;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    color: #262626;
}

button {
    background-color: #0095f6;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.ou {
    padding: 20px;
    position: relative;
    font-size: 12px;
}

.ou:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #5f6569;
    margin-top: 15px;
    display: block;
}

.ou span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}

.login-facebook {
    color: #385185;
    font-size: 14px;
    /*Tamanho da fonte*/
    font-weight: bold;
    /*Espessura da fonte / BOLD = Negrito*/
    text-align: center;
    /*Alinamento do texto*/
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.esqueceu-senha {
    color: #385185;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.caixa-cadastro {
    width: 350px;
    height: 25px;
    position: relative;
    top: 180px;
    border: 1px solid #dbdbdb;
    padding: 50px 40px 20px 40px;
    margin-left: -350px;
    background-color: #ffffff;

}

.tipo-cadastro {
    float: left;
    color: #385185;
    text-align: auto;
    font-size: 14px;
}
.Cadastro {
    color: #385185;
    font-size: 14px;
    text-align: auto;
    cursor: pointer;
}

.Obtenha-app {
    color: #000;
    font-size: 14px;
    font-family: sans-serif;
    text-align:center;
    margin-top: 20px;
}
